<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks</title>
  <link rel="stylesheet" href="/css/iss.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>
<body>
  <div class="container">
    <h1 class="ass">My Tasks</h1>
    <div class="dropdown">
      <button class="dropbtn">Filter Tasks</button>
      <div class="dropdown-content">
        <a href="/filter/completed" class="com">completed tasks</a>
        <a href="/filter/pending" class="com">pending tasks</a>
        <a href="/secrets" class="com">All</a>
      </div>
    </div>
    <a id="newPostBtn" href="/new">New Task</a>
    <!-- <a class="assam" href="/logout" >Log Out</a> -->
    <ul id="postsList">
      <% posts.forEach(post=> { %>
        <li>
          <h2>
            <%=post.title%>
          </h2>
          <small>
            <%=post.date %>
          </small>
          <p> 
            <%=post.content%>
          </p>
          <h2><%=post.status%> </h2>
          <a class="edit" href="/edit/<%= post.id %>">Update</a>
          <a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a>
        </li>
        <% }); %>
    </ul>
  </div>
</body>
</html>